<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="myRnDConnectionString" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=MyRnD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>

  <appSettings>
    <add key="FeatureToggle.ShowNameOnHomePage.ConnectionString" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=MyRnD;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <add key="FeatureToggle.ShowNameOnHomePage.SqlStatement" value="SELECT FeatureFlagEnabled FROM dbo.FeatureFlags WHERE FeatureFlagName = 'ShowName'"/>
  </appSettings>
</configuration>
